{% include 'base.html' %}
<body>   
    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
        <a class="navbar-brand" href="{% url 'home' %}">
            <i class="fab fa-google-drive" style="color: #4285F4;"></i> My Cloud Drive
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

    <div class="row">
        <div class="sidebar bg-light col-2">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="#" id="newButton" role="button" data-toggle="collapse" data-target="#newDropdown" aria-expanded="false" aria-controls="newDropdown">
                        <button class="btn btn-primary bg-light">
                            <span style="color:black;"><i class="fas fa-plus"></i> New</span>
                        </button>
                    </a>
                    <div class="collapse position-absolute" id="newDropdown" style="z-index: 1000;">
                        <ul class="list-unstyled bg-white border rounded p-2">
                            <li style="cursor: pointer;">
                                <form method="post" action="{% url 'upload_file' %}" enctype="multipart/form-data" style="display: none;" id="fileUploadForm">
                                    {% csrf_token %}
                                    <input type="file" name="file" id="fileInput" onchange="submitForm()">
                                </form>
                                <a class="dropdown-item" href="#" onclick="document.getElementById('fileInput').click();">File Upload</a>
                            </li>
                            <li style="cursor: pointer;"><a class="dropdown-item" id="folderUploadBtn">Folder Upload</a></li>
                        </ul>
                    </div>
                    <a class="nav-link" href="{% url 'home' %}">
                        <button style="border-radius: 0.8rem; text-align:left; background-color: rgba(173, 216, 230, 0.2); width:110%;">
                            <span style="color:black;"><i class="fas fa-home"></i> Home</span>
                        </button>
                    </a>
                </li>
            </ul>
        </div>

        {% block content %}
            <!-- Content from other templates will be displayed here -->
        {% endblock %} 
    </div>

    <script>
        function submitForm() {
            document.getElementById('fileUploadForm').submit();
        }
    </script>
</body>
</html>
