{% extends "base_nav.html" %}
{% include 'base.html' %}

{% block title %}Browse Files{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header text-center">
                    <h4>Your Uploaded Files</h4>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        {% for file in uploaded_files %}
                            <li class="list-group-item">
                                <a href="{{ file.url }}" class="link-primary">{{ file.name }}</a> - Uploaded on {{ file.uploaded_at|date:"Y-m-d H:i:s" }}
                            </li>
                        {% empty %}
                            <li class="list-group-item text-muted">No files uploaded yet.</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="card-footer text-center">
                    <a href="{% url 'home' %}" class="btn btn-link">Back to Home</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
