{% extends "base_nav.html" %}
{% include "base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h2>New Folder</h2>
        </div>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <div>
                    <input type="text" name="folder_name" id="folder_name" class="form-control" placeholder="Folder Name" required oninput="toggleButton()">
                </div>
                <button type="submit" class="btn btn-primary" id="createButton" disabled>Create Folder</button>
            </form>
            <a href="{% url 'browse' %}" class="btn btn-secondary mt-3">Cancel</a>
        </div>
    </div>
</div>

<script>
    function toggleButton() {
        const inputField = document.getElementById('folder_name');
        const createButton = document.getElementById('createButton');
        // Enable the button if the input field has text, otherwise disable it
        createButton.disabled = inputField.value.trim() === '';
    }
</script>
{% endblock %}
