{% extends "base_nav.html" %}
{% include 'base.html' %}

{% block title %}Upload File{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h4>Upload File</h4>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" name="file" id="file-input" required>
                        <button type="submit" class="btn btn-primary btn-block">Upload</button>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <a href="{% url 'home' %}" class="btn btn-link">Back to Home</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
